    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">

    <link rel="stylesheet" href="./assets/css/custom.css">
    <!-- Stylesheets -->
    <link rel="stylesheet" href="./assets/css/photon.min.css">

    <link rel="stylesheet" href="./assets/css/main.css">

    <!-- Javascript -->

    <script src="./assets/js/menu.js" charset="utf-8"></script>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-route/angular-route.js"></script>

    <script src="../node_modules/chart.js/dist/Chart.bundle.js"></script>

    <script src="../node_modules/moment/moment.js"></script>