<div class="tab-item">
  <span class="icon icon-cancel icon-close-tab"></span>
  Human Resource
</div>
<div class="tab-item">
  <span class="icon icon-cancel icon-close-tab"></span>
  General Journal
</div>
<div class="tab-item">
  <span class="icon icon-cancel icon-close-tab"></span>
  Customers
</div>
<div class="tab-item">
  <span class="icon icon-cancel icon-close-tab"></span>
  Cash Account(Hand)
</div>
<div class="tab-item">
  <span class="icon icon-cancel icon-close-tab"></span>
  Chart of Accounts
</div>
<div class="tab-item">
  <span class="icon icon-cancel icon-close-tab"></span>
  Reports
</div>
